@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --cor-primaria: #2e2e2e;
    --cor-secundaria: #f2f2f2;
    --cor-terciaria: #A67B56;
  
    --font-principal: 'Montserrat', sans-serif; 
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    background-color: #2e2e2e;
}

#div1 {
    position: absolute;
    background-color: #2e2e2e;
    width: 90em;
    height: 52em;
    z-index: 1;
    margin-left: 5em;
    border-radius: 30px;
    border: 2px solid #a67b56
}

#div2 {
    background-color: #a67b56;
    width: 30em;
    height: 52em;
    top: 40px;
    left: 70em;
    z-index: 2;
    margin-left: 220px;
    border-radius: 30px;
    position: relative;
}

#um {
    background-color: #A67B56;
    height: 2em;
    width: 7em;
    border-radius: 40px;
    margin-left: 25em;
    margin-top: 5em;
    position: absolute;
}

#dois {
    background-color: #2e2e2e;
    ;
    height: 2em;
    width: 7em;
    border-radius: 20px;
    margin-left: 28em;
    margin-top: 3em;
    position: absolute;
}

#tres{
    background-color: #A67B56;
    height: 2em;
    width: 12em;
    border-radius: 40px;
    margin-left: 23em;
    margin-top: 1em;
}

#quatro {
    background-color: #a67b56;
    height: 2em;
    width: 10em;
    border-radius: 40px;
    margin-left: 25em;
    margin-top: 38em;
}

#cinco {
    background-color:#2e2e2e;
    height: 2em;
    width: 7em;
    border-radius: 20px;
    margin-left: 28em;
}

#seis {
    background-color: #a67b56;
    height: 2em;
    width: 10em;
    border-radius: 40px;
    margin-left: 23em;
}

#sete {
    background-color: #A67B56;
    height: 2em;
    width: 9em;
    border-radius: 14px;
    margin-top: 2em;
}

/* Conteúdo do formulário */

.ImagemPerfil {
    position: absolute;
    width: 280px;
    margin-top: 80px;
    margin-left: 100px;
}

.titulo-nome{
    font-family: var(--font-principal);
    color: white;
    font-size: 25px;
    font-weight: lighter;
    position: absolute;
    margin-top: 400px;
    margin-left: 100px;
}

.paragrafo {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    position: absolute;
    margin-top: 460px;
    margin-left: 20px;
    width: 470px;
    font-size: 15px;
}

.paragrafo.segundo{
    margin-top: 480px;
    margin-left: 40px;
}

.icon-local {
    position: absolute;
    margin-top: 550px; 
    color: var(--cor-primaria);
    margin-left: 50px;
}

.paragrafo.localizacao {
    margin-top: 553px;
    margin-left: 90px;
}

.icon-email {
    color: var(--cor-primaria);
    position: absolute;
    margin-top: 600px; 
    color: var(--cor-primaria);
    margin-left: 50px;
}

.paragrafo.email {
    margin-top: 600px;
    margin-left: 92px;
}

.icon-github {
    position: absolute;
    color: var(--cor-secundaria);
    margin-top: 700px;
    margin-left: 190px;
}

.icon-linkedin{
    position: absolute;
    color: var(--cor-secundaria);
    margin-top: 700px;
    margin-left: 260px;
}

.formulario-titulo {
    display: none;
}
/* Input Design */

.container-botao-voltar{
    margin: 2em 0 0 2em;
    width: 100px;
}

.botao-voltar {
    color: var(--cor-secundaria);
}

.identidade {
    margin: 2.5em 0 4em 13em;
}

.identificação {
    margin-right: 10em;
    width: 300px;
    height: 30px;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
}

.identificação::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 2px 0 0 2px; 
}

#i-email {
    width: 740px;
    height: 30px;
    margin: 0 0 5em 15.5em;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
}

#i-email::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 2px 0 0 2px; 
}

#i-telefone {
    width: 300px;
    height: 30px;
    margin: 0 0 5em 15.5em;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
}

#i-telefone::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 2px 0 0 2px;  
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}

#i-assunto {
    width: 400px;
    height: 30px;
    margin: 0 0 5em 15.5em;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
}

#i-assunto::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 2px 0 0 2px;  
}

#i-mensagem {
    width: 740px;
    margin: 0 0 5em 15.5em;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 10px;
}

#i-mensagem::placeholder {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding: 2px 0 0 2px;
}

.botao-submit {
    display: flex;
    margin-left: 15.5em;
    padding: 7px;
    width: 200px;
    justify-content: center;
    
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    font-family: var(--font-principal);

    transition: .5s;
}

.botao-submit:hover {
    background-color: #9c6c42;
    cursor: pointer;
}

input {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding-left: 5px;
    outline: 0;
}

textarea {
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    padding-left: 5px;
    padding-top: 10px;
}

input, textarea:focus {
    outline: 0;
}

/* loading */

.loader {
    display: none;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.form-container {
    text-align: center;
    margin-top: 50px;
}

.icon-coffee {
   display: none;
}

/* Responsividade */

@media screen and (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    html {
        width: 100vw;
        height: 100vh;
    }
    
    #div2 {
        width: 100vw;
        height: 160px;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0 0 10px 10px;
    }

    #div1 {
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;
        border: none;
    }

    #um, #dois, #tres, #quatro, #cinco, #seis, #sete, #oito {
        display: none;
    }

    .ImagemPerfil {
        width: 100px;
        margin: 20px 0 0 20px;
    }
    .icon-github {
        margin: 10px 0 0 190px;
        width: 34px;
    }
    .icon-linkedin {
        margin: 10px 0 0 250px;
        width: 34px;
    }
    .titulo-nome {
     margin: 55px 0 0 165px;
     font-size: 15px;
    }
    .paragrafo {
        margin: 80px 0 0 120px;
        width: 250px;
        text-align: center;
        font-size: 12px;
    }
    .paragrafo.segundo{
        margin: 110px 0 0 120px;
        width: 250px;
        text-align: center;
        font-size: 12px;
    }
    .icon-local, .paragrafo.localizacao, .icon-email, .paragrafo.email {
        display: none;
    }
    .container-botao-voltar, .botao-voltar {
        display: none;
    }
    .identidade {
        margin: 250px 0 0 40px;
    }
   
    #i-sobrenome {
        margin: 30px 0 30px 0;
    }

    #i-email {
        margin: 0 0 30px 40px;
        width: 300px;
    }

    #i-telefone {
        margin: 0 0 30px 40px;
        width: 300px;
    }

    #i-assunto {
        margin: 0 0 30px 40px;
        width: 300px;
    }

    #i-mensagem {
        margin: 0 0 30px 40px;
        width: 300px;
    }

    .botao-submit {
        margin: 0 0 0 90px;
    }

    .formulario-titulo {
        display: block;
        margin: -60px 70px 10px 0 ;
        text-align: center;
        font-weight: lighter;
        font-size: 1.3em;
        font-family: var(--font-principal);
        color: white;
    }

    .icon-coffee {
        display: block;
        position: relative;
        top: 25%;
        left: 38%;
        bottom: 30% !important;
        height: 10vw;
        max-height: 100px;
        z-index: 1; 
        color: white;
    }
}

@media screen and (max-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .ImagemPerfil {
    width: 120px;
  }
  .icon-github {
    margin: 10px 0 0 360px;
  }
  .icon-linkedin {
    margin: 10px 0 0 420px;
  }
  .titulo-nome {
    margin: 55px 0 0 320px;
  }
  .paragrafo.primeiro {
    width: 350px;
    margin: 90px 0 0 225px;
  }
  .paragrafo.segundo {
    width: 350px;
    margin: 120px 0 0 220px;
  }
  .formulario-titulo {
    margin: -50px 0 0 0px;
  }
  .icon-coffee {
    margin: -10px 0 0 70px;
    width: 30px;
  }
  .identidade {
    margin: 280px 0 0 23px;
  }
  input#i-nome.identificação, #i-sobrenome {
    width: 350px;
    margin: 10px  10px 30px 0;
  }
  #i-email {
    width: 713px;
    margin: 0 0 0 25px;
  }
  #i-telefone {
    width: 713px;
    margin: 30px 0 0 25px;
  }
  #i-assunto {
    width: 713px;
    margin: 30px 0 0 25px;
  }
  #i-mensagem {
    width: 713px;
    margin: 30px 0 0 25px;
 }
 .botao-submit {
    margin: 20px 0 0 30px ;
 }
}



